/* CSS varibales */
:root {
    --lighter: #ecf0f1;
    --darker: #33475b;
    --bluer: #339999;
    --shadow__darker: 0 1px 3px rgba(47,53,66,0.12), 0 1px 2px rgba(47,53,66,0.24);
    --shadow__lighter: 0 1px 3px rgba(236,240,241,0.12), 0 1px 2px rgba(236,240,241,0.24);
    --shadow__bluer: 0 1px 3px rgba(51,153,153,0.12), 0 1px 2px rgba(51,153,153,0.24);
    --shadow__bold__darker: 0 3px 6px rgba(47,53,66,0.16), 0 3px 6px rgba(47,53,66,0.23);
    --shadow__bold__lighter: 0 3px 6px rgba(236,240,241,0.16), 0 3px 6px rgba(236,240,241,0.23);
    --shadow__bold__bluer: 0 3px 6px rgba(51,153,153,0.16), 0 3px 6px rgba(51,153,153,0.23);
}

html, body {
    min-height: 100%;
    overflow-x: hidden;
}

html {
    position: relative;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Kurale', serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: #fff;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    background-color: var(--darker);
}

.navbar-toggler__border__color {
    border-color: var(--darker)!important;
}

#btn-go__to__top {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 99;
    cursor: pointer;
    border: none;
    background-color: var(--bluer);
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: var(--light);
    font-size: 22px;
    opacity: .8;
    outline: 0;
}

#btn-go__to__top:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 0 0.2rem rgba(51, 153, 153,.35);
    transition: all .7s;
}

